<!doctype html>
<html lang="en">

  <head>
    <title>Ironbeers!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./stylesheets/styles.css">
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/beers">Beers</a></li>
        <li><a href="/random-beer">Random Beer</a></li>
      </ul>
    </nav>
    <main>
      {{{body}}}
    </main>
    <footer>  
      <h2>Developed by Ironhack ;)</h2>
    </footer>
  </body>
</html>